!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: 'viewport', content: 'width=device-width,inital-scale=1.0,shink-to-fit=no'}
    %title CoursesDot
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #page
      = yield
